---
layout: page
description: "A Collaborative Research Blog Tool"
---
<!-- for some reason, all the posts appear  -->
{% for post in site.posts limit:10 %}
    {% if post.categories contains 'blog' %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}>
        </p>
    </div>
    <hr>
    {% endif %}
{% endfor %}

<a href="postsPage.html">View All Posts</a>

<Form method="get" action="posts_page.html">
	<type="submit" value="View All Posts">
</Form>

<!-- Pager -->
<!-- {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
{% endif %} -->
